In [1]:
import pandas as pd 
import numpy as np
#This is excercis on pandas operations

In [3]:
#Defining a simple series and dataframe 
rng=np.random.RandomState(42)
rng

RandomState(MT19937) at 0xB3BAC2B048

In [5]:
ser=pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [7]:
df=pd.DataFrame(rng.randint(0,10,(3,4)))
df

   0  1  2  3
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2

In [8]:
#When we apply numpy on this object the result will be another 
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [9]:
np.exp(df)

             0            1            2           3
0     2.718282  1096.633158   148.413159    2.718282
1    54.598150     1.000000  8103.083928  148.413159
2  2980.957987     1.000000  8103.083928    7.389056

In [ ]:
#import and export data